.custom-control-input{
    padding: 20px;
}
.custom-control-label::before {
    color: blue;
}
#myModal{
    margin-left: 30%;
}
li{
    list-style:none;
    margin-left:10px
}
li:hover{
    color: aqua;
}
a{
    text-decoration: none;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    background-color: rgb(63, 196, 63);
}